/*于志鹏 
首页
2016/9/17
*/
@charset "utf-8";
/*首页图片*/
.index-img {width:1000px;height:1400px; }
.blog {
    width: 60%;
    padding: 0px 0px;
    
}
.blog .info span {
    padding-right: 10px;
}
.blog .summary {
    padding-top: 20px;
}
.pre{
white-space:pre-wrap; /* css3.0 */
white-space:-moz-pre-wrap; /* Firefox */
white-space:-pre-wrap; /* Opera 4-6 */
white-space:-o-pre-wrap; /* Opera 7 */
word-wrap:break-word; /* Internet Explorer 5.5+ */
} 